@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --bg-primary: #F5FFFB;
    --bg-secondary: #03AD5F;
    --bg-tertiary: #DEF9EE;
    --navbar-primary: #f5f5f5;
    --white-400: #fafafa;
    --gray: #8a8a8a;
    --text-primary: #080808;
    --text-secondary: #FFFFFF;
    --tags-primary: #577A6A;
    --error:#FF3030;
    --gradient-primary: linear-gradient(90deg, rgba(3, 173, 95, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-primary);
}

.header {
    background-color: var(--bg-tertiary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid var(--gray);
}

.header__logo {
    height: auto;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__nav-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.header__nav-list {
    display: flex;
    align-items: center;
    /* Align items vertically */
    gap: 10px;
    /* Add spacing between items */
}

.header__nav-list--left li:hover {
    cursor: pointer;
    color: var(--bg-secondary);
}

.header__nav-item {
    cursor: pointer;
    padding: 10px;
}

/* Replacing specific buttons to -> PrimaryButton / SecondaryButton */
/* .header__nav-item--login {
    background-color: transparent;
    color: var(--bg-secondary);
    border-radius: 5px;
    padding: 10px 20px;
    border: solid 2px var(--bg-secondary);
}

.header__nav-item--signup {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border-radius: 5px;
    padding: 10px 20px;
    border: solid 2px var(--bg-secondary);
} */

.header__nav-item--secondary {
    background-color: transparent;
    color: var(--bg-secondary);
    border-radius: 5px;
    padding: 10px 20px;
    border: solid 2px var(--bg-secondary);
}

.header__nav-item--primary {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border-radius: 5px;
    padding: 10px 20px;
    border: solid 2px var(--bg-secondary);
}

/* Avatar Button Styling */
.avatar-button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Avatar Image Styling */
.avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--bg-secondary);
    transition: transform 0.3s ease;
}

.header__nav-item--secondary,
.header__nav-item--primary,
.avatar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    box-sizing: border-box;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--bg-secondary);
}

/* Swiper Container */
.swiper-container {
    width: 100%;
    height: 300px;
    /* Default height */
    position: relative;
}

/* Swiper Slides */
.swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    width: auto;
    /* Adjust the width as needed */
    height: 100%;
    /* Ensure the slide takes the full height of the container */
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the entire slide */
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--bg-secondary);
    /* Adjust the color as needed */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-prev {
    left: 10px;
    /* Adjust the position as needed */
}

.swiper-button-next {
    right: 10px;
    /* Adjust the position as needed */
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #21a046;
    border-radius: 5px;
    overflow: hidden;
    width: 90%;
    margin: 20px auto;
}

.search-bar {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.search-icon {
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid var(--bg-secondary);
}

.tags-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px 0;
}

.tags {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 23px;
    padding: 10px 0;
    width: 90%;
    scrollbar-width: none;
}

.tag {
    color: var(--text-primary);
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 1px var(--bg-secondary);
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.tags-prev,
.tags-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--bg-secondary);
    background-color: transparent;
    border: none;
    padding: 15px;
    font-size: 18px;
    transition: 0.3s;
    user-select: none;
}

.tags-prev {
    left: 0;
}

.tags-next {
    right: 0;
}

.section-header {
    color: var(--bg-secondary);
    padding: 10px;
    margin: 20px 0 10px;
    border-radius: 5px;
    gap: 10px;
}

.section-header__main {
    font-weight: bold;
    font-size: 24px;
}

.section-header__sub {
    color: var(--text-primary);
    font-size: 24px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.card {
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.card__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card__content {
    padding: 10px;
}

.card__header {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.card__artist {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__title {
    font-size: 18px;
    margin: 0;
}

.card__price {
    font-size: 16px;
    color: var(--bg-secondary);
    margin: 5px 0;
    font-weight: bold;
}

.card__artist__name {
    font-size: 14px;
    margin: 0;
}

.card__tags {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.card__tag {
    background-color: var(--tags-primary);
    color: var(--text-secondary);
    padding: 5px 5px;
    border-radius: 15px;
    font-size: 12px;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background-color: var(--bg-primary);
    margin: auto;
    padding: 30px 70px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
}

.overlay-content h2 {
    margin-bottom: 20px;
    color: var(--bg-secondary);
}

.overlay-content p {
    margin-bottom: 18px;
}

.overlay-content button {
    font-size: 16px;
}

.overlay-content .button__agree {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.overlay-content .button__disagree {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 10px 20px;
    border: 2px solid var(--text-primary);
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--bg-primary);
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 620px;
    text-align: center;
    border-radius: 10px;
}

.modal-content h3 {
    margin-bottom: 20px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-bottom: 5px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

.login-trouble {
    margin-bottom: 25px;
    text-align: left;
    font-size: 14px;
    color: var(--bg-secondary);
}

.modal-content input {
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid var(--bg-secondary);
    border-radius: 5px;
    background: var(--gradient-primary);
}

.signup-btn,
.login-btn {
    background-color: var(--bg-secondary);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.signup-infos,
.login-link {
    color: var(--bg-secondary);
}

.dob,
.phone {
    display: flex;
    gap: 10px;
}

.dob select,
.phone input {
    flex: 1;
}

.option-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.info {
    text-align: left;
}

.streamer-btn {
    background: var(--bg-secondary);
    color: var(--text-secondary);
    border: none;
    padding: 10px;
    flex: 1;
    font-size: 14px;
    border: 2px solid var(--bg-secondary);
    cursor: pointer;
    border-radius: 5px;
}

.fun-btn {
    background: var(--text-secondary);
    color: var(--bg-secondary);
    border: 2px solid var(--bg-secondary);
    padding: 10px;
    flex: 1;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.close {
    color: var(--bg-secondary);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    background-color: var(--navbar-primary);
    padding: 20px;
    text-align: center;
    /* Center the content */
    position: relative;
    bottom: 0;
    margin-top: 50px;
    border-top: 1px solid var(--gray);
}

.footer__logo {
    max-width: 150px;
    display: block;
    margin: 0 auto;
    /* Center the logo */
}

.footer__copyright {
    margin-top: 10px;
    color: var(--text-primary);
}

/* Media Queries for Responsive Design */

/* Mobile Devices */
@media (max-width: 599px) {

    .dob,
    .phone {
        flex-direction: row;
    }

    .dob input,
    .phone input {
        width: 100%;
        margin-bottom: 10px;
    }

    .modal-content {
        width: 90%;
        padding: 10px;
    }

    .modal-content h3 {
        font-size: 18px;
    }

    .modal-content label {
        font-size: 14px;
    }

    .modal-content input {
        padding: 8px;
        font-size: 14px;
    }

    .signup-btn,
    .login-btn {
        font-size: 12px;
    }

    .close {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .tags {
        gap: 5px;
        width: 80%;
    }

    .overlay {
        width: 100%;
    }

    .overlay-content {
        width: 100%;
        max-width: 250px;
        padding: 25px 50px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .header__menu {
        width: 100%;
    }

    .header__logo {
        margin-right: auto;
    }

    .header__nav-container {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        margin-top: 10px;
        gap: 20px;
    }

    .header__nav-list {
        flex-direction: column;
        gap: 10px;
        display: none;
    }

    .header__nav-item {
        padding: 0;
    }

    /* .header__nav-item--login {
        padding: 0;
        border: none;
    }

    .header__nav-item--signup {
        padding: 0;
        border: none;
        background-color: transparent;
        color: var(--bg-secondary);
    } */
    .header__nav-item--secondary {
        padding: 0;
        border: none;
    }

    .header__nav-item--primary {
        padding: 0;
        border: none;
        background-color: transparent;
        color: var(--bg-secondary);
    }

    .header__nav-container.active .header__nav-list {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }

    .search-bar {
        width: 90%;
    }

    .tag,
    .card__price {
        font-size: 14px;
    }

    .card__title {
        font-size: 16px;
    }

    .section-header__main,
    .section-header__sub {
        font-size: 18px;
    }

    .card-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card {
        width: 100%;
        max-width: 350px;
    }

    .card__artist {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .swiper-container {
        height: 200px;
        /* Adjust the height for mobile screens */
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 50%;
        transform: translateY(-50%);
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* Center the content vertically */
        align-items: center;
        /* Center the content horizontally */
    }

    .footer__logo {
        max-width: 150px;
        display: block;
        margin: 0 auto;
    }

    .footer__copyright {
        margin-top: 10px;
        color: var(--text-primary);
    }
}

/* Tablets */
@media (min-width: 600px) and (max-width: 899px) {
    .swiper-container {
        height: 250px;
        /* Adjust the height for tablet screens */
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 50%;
        transform: translateY(-50%);
    }

    .header {
        padding: 10px;
    }

    .search-bar {
        width: 80%;
    }

    .card-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card {
        width: 100%;
        max-width: 350px;
    }
}

/* Small Desktops */
@media (min-width: 900px) and (max-width: 1199px) {
    .header {
        padding: 10px 20px;
    }

    .search-bar {
        width: 80%;
    }

    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Large Desktops */
@media (min-width: 1200px) {
    .header {
        padding: 10px 20px;
    }

    .search-bar {
        width: 80%;
    }

    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --bg-primary: #F5FFFB;
    --bg-secondary: #03AD5F;
    --bg-tertiary: #DEF9EE;
    --navbar-primary: #f5f5f5;
    --white-400: #fafafa;
    --gray: #8a8a8a;
    --text-primary: #080808;
    --text-secondary: #FFFFFF;
    --tags-primary: #577A6A;
    --gradient-primary: linear-gradient(90deg, rgba(3, 173, 95, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-primary);
}

.header {
    background-color: var(--bg-tertiary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid var(--gray);
}

.header__logo {
    height: auto;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__nav-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.header__nav-list {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.header__nav-list--left li:hover {
    cursor: pointer;
    color: var(--bg-secondary);
}

.header__nav-item {
    cursor: pointer;
    padding: 10px;
}

/* .header__nav-item--stream, .header__nav-item--token-container {
    background-color: transparent;
    color: var(--bg-secondary);
    border-radius: 5px;
    padding: 10px 20px;
    border: solid 2px var(--bg-secondary);
}

.header__nav-item--tokens {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border-radius: 5px;
    padding: 10px 20px;
    border: solid 2px var(--bg-secondary);

} */
.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--bg-secondary);
}

.swiper-container {
    width: 100%;
    height: 300px;
    position: relative;
}

.swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    width: auto;
    /* Adjust the width as needed */
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the entire slide */
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--bg-secondary);
    /* Adjust the color as needed */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-prev {
    left: 10px;
    /* Adjust the position as needed */
}

.swiper-button-next {
    right: 10px;
    /* Adjust the position as needed */
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #21a046;
    border-radius: 5px;
    overflow: hidden;
    width: 90%;
    margin: 20px auto;
}

.search-bar {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
}


.search-icon {
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid var(--bg-secondary);
}

.tags-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px 0;
}

.tags {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 23px;
    padding: 10px 0;
    width: 90%;
    scrollbar-width: none;
}

.tag {
    color: var(--text-primary);
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 1px var(--bg-secondary);
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.tags-prev,
.tags-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--bg-secondary);
    background-color: transparent;
    border: none;
    padding: 15px;
    font-size: 18px;
    transition: 0.3s;
    user-select: none;
}

.tags-prev {
    left: 0;
}

.tags-next {
    right: 0;
}

.section-header {
    color: var(--bg-secondary);
    padding: 10px;
    margin: 20px 0 10px;
    border-radius: 5px;
    gap: 10px;
}

.section-header__main {
    font-weight: bold;
    font-size: 24px;
}

.section-header__sub {
    color: var(--text-primary);
    font-size: 24px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.card {
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.card__image {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.card__content {
    padding: 10px;
}

.card__header {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.card__artist {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__title {
    font-size: 18px;
    margin: 0;
}

.card__price {
    font-size: 16px;
    color: var(--bg-secondary);
    margin: 5px 0;
    font-weight: bold;
}

.card__artist__name {
    font-size: 14px;
    margin: 0;
}

.card__tags {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.card__tag {
    background-color: var(--tags-primary);
    color: var(--text-secondary);
    padding: 5px 5px;
    border-radius: 15px;
    font-size: 12px;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background-color: var(--bg-primary);
    margin: auto;
    padding: 30px 70px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
}

.overlay-content h2 {
    margin-bottom: 20px;
    color: var(--bg-secondary);
}

.overlay-content p {
    margin-bottom: 18px;
}

.overlay-content button {
    font-size: 16px;
}

.overlay-content .button__agree {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.overlay-content .button__disagree {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 10px 20px;
    border: 2px solid var(--text-primary);
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--bg-tertiary);
    margin: 7% auto;
    padding: 30px;
    border-radius: 15px;
    width: 800px;
}

.modal-header h2 {
    color: var(--bg-secondary);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    color: var(--bg-secondary);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-columns {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 30px;
}

.modal-column {
    width: 48%;
}

.webcam-preview {
    width: 300px;
    height: 206px;
    background-color: transparent;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid var(--bg-secondary);
}

.webcam-preview video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

label,
.tag-label {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

select {
    width: 300px;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    height: 40px;
    border: 2px solid var(--bg-secondary);
    border-radius: 5px;
    background-color: transparent;
}

.stream-title-input,
.stream-textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    /* Ensure padding is included in the width */
    border-radius: 5px;
    border: 2px solid var(--bg-secondary);
    font-size: 16px;
    background-color: transparent;
}

.stream-title-input,
.stream-price-input {
    height: 47px;
}

.stream-textarea {
    height: 157px;
    font-family: 'Roboto', sans-serif;
}

textarea {
    height: 100px;
    /* Adjust the height as needed */
    resize: vertical;
    /* Allow vertical resizing */
}


.start-stream-tag {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 10px 10px;
    border-radius: 50px;
    font-size: 13px;
    margin-right: 10px;
}

.steam-price-selection {
    margin-top: 20px;
}

.steam-price-selection label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--text-primary);
}

.price-options {
    display: flex;
    gap: 10px;
}

.price-option {
    padding: 10px 20px;
    border: 2px solid var(--bg-secondary);
    color: var(--bg-secondary);
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.price-option:hover {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.price-option.active {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.start-stream-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--bg-secondary);
    border: none;
    color: var(--text-secondary);
    margin-top: 10px;
    cursor: pointer;
}


/* Buy Tokens Modal Styles */
.buy-tokens-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.buy-tokens-modal-content {
    background-color: var(--bg-primary);
    margin: 3% auto;
    padding: 30px;
    border: 1px solid var(--gray);
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
}

.buy-tokens-modal-close-container {
    display: flex;
    justify-content: flex-end;
}

.buy-tokens-modal-header {
    text-align: center;
}

.buy-tokens-modal-header h1 {
    color: var(--bg-secondary);
}

.buy-tokens-modal-header p {
    color: var(--text-primary);
}

.buy-tokens-close {
    cursor: pointer;
    font-size: 24px;
}

.buy-tokens-modal-body {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px;
}

/* Dropdown Menu Styling */
.dropdown-menu {
    position: absolute;
    top: 60px;
    /* Adjust based on the avatar button's height */
    right: 10px;
    /* Align to the right of the avatar */
    background-color: var(--text-secondary);
    border: 1px solid var(--bg-secondary);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1000;
    padding: 10px;
}

.dropdown-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.dropdown-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.dropdown-profile-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-primary);
}

.dropdown-item {
    background: none;
    border: none;
    color: var(--text-primary);
    text-align: left;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: var(--bg-tertiary);
}

/* Profile Tabs Container */
.tabs-container {
    margin: 20px;
    padding: 20px;
    background-color: var(--bg-primary);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 20px;
}

/* Tabs */
.tabs {
    display: flex;
    flex-direction: column;
    /* Make tabs vertical */
    gap: 10px;
    /* Add spacing between each tab */
    width: 300px;
}

.tab-button {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    /* Align text to the left */
    border-left: 4px solid transparent;
    /* Add a left border for active state */
    transition: all 0.3s ease;
}

.tab-button:hover {
    color: var(--bg-secondary);
}

.tab-button.active {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border-left: 4px solid var(--bg-secondary);
    /* Highlight active tab */
}

/* Tab Content */
.tab-content {
    flex: 1;
    /* Take up remaining space */
    padding: 20px;
    background-color: var(--bg-tertiary);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Profile Details */
.profile-details-container {
    justify-content: center;
    display: flex;
}

.profile-card {
    background: white;
    border-radius: 12px;
    padding: 30px;
    width: 50%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.profile-picture-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-picture {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-button {
    background-color: var(--bg-secondary);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.profile-button-remove {
    background-color: white;
    color: var(--bg-secondary);
    border: 1px solid #00b36b;
}

.profile-info {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.profile-tier {
    color: #cc6600;
}

.profile-subscription {
    color: var(--bg-secondary);
}

label {
    display: block;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 14px;
}

.profile-input,
.profile-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--bg-secondary);
    border-radius: 6px;
    font-size: 14px;
}

.profile-textarea {
    resize: vertical;
    min-height: 60px;
}

.profile-row {
    display: flex;
    gap: 50px;
}

.profile-row>div {
    flex: 1;
}

.profile-buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.profile-btn-cancel {
    background-color: transparent;
    color: var(--bg-secondary);
    border: 1px solid var(--bg-secondary);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-btn-save {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*Profile Security*/
.profile-security-container {
    justify-content: center;
    display: flex;
}

.security-card{
    background: white;
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.delete-account{
    width: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: var(--error);
    color: var(--text-secondary);
}

.security-info{
    margin-top: 50px;
}

.security-header{
    font-weight: bold;
    font-size: 18px;
}

.security-form{
 margin-top: 40px;
}

.security-buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 60px;
}

.security-btn-cancel {
    background-color: transparent;
    color: var(--bg-secondary);
    border: 1px solid var(--bg-secondary);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.security-btn-save {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/*Profile Payment*/
.profile-payment-container {
    justify-content: center;
    display: flex;
}

.payment-card{
    background: white;
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.payment-header p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-primary);
}

.four-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Four equal columns */
    gap: 20px; /* Space between grid items */
}

.grid-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--white-400);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 10px;
}

.grid-item.active {
    border: 2px solid var(--bg-secondary);
  }

.grid-item:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.payment-logo {
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .card-number {
    font-size: 16px;
    font-weight: 500;
    color: #1a1a1a;
  }
  
  .card-expiry {
    font-size: 14px;
    color: #666;
  }
  
  .card-expiry span {
    margin-left: 6px;
    font-weight: 500;
  }





/* Pricing Cards */
.pricing-card {
    width: 200px;
    text-align: center;
    padding: 50px;
    border-radius: 15px;
    position: relative;
    margin-bottom: 30px;
}

.pricing-card--standard {
    background-color: var(--text-secondary);
    color: var(--bg-secondary);
    box-shadow: 0 4px 10px rgba(14, 145, 84, 0.623);
}

.pricing-card--popular {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    box-shadow: 0 4px 10px rgba(14, 145, 84, 0.623);
}

.badge {
    background-color: white;
    color: var(--bg-secondary);
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 7px;
    border: 1px solid var(--bg-secondary);
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.standard-header {
    color: var(--text-primary);
}

.price,
.price-standard {
    font-size: 64px;
    font-weight: bold;
    margin: 10px 0;
}

.price small {
    font-size: 14px;
    display: block;
    margin-top: -5px;
    font-weight: lighter;
}

.price strong {
    font-size: 24px;
    display: block;
}

.price-standard small {
    font-size: 14px;
    display: block;
    margin-top: -5px;
    color: var(--text-primary);
    font-weight: lighter;
}

.price-standard strong {
    font-size: 24px;
    display: block;
    color: var(--text-primary);
}

.standard-buy-button,
.popular-buy-button {
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 7px;
    cursor: pointer;
    margin: 15px 0;
}

.standard-buy-button {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.popular-buy-button {
    background-color: var(--text-secondary);
    color: var(--bg-secondary);
}

.features {
    text-align: left;
    margin-top: 15px;
}

.features,
.features-standard h3 {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.features ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.features ul li {
    font-size: 14px;
    margin-bottom: 8px;
}

.features-standard {
    color: var(--text-primary);

}

.features-standard ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.features-standard ul li {
    font-size: 14px;
    margin-bottom: 8px;
}


.bottom-icon {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-secondary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.bottom-icon i {
    color: var(--text-secondary);
}

/* Buy Now Modal Styles */
.buy-now-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.buy-now-modal-content {
    background-color: var(--bg-primary);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--gray);
    width: 100%;
    max-width: 600px;
    border-radius: 30px;
    position: relative;
    text-align: center;
}

.buy-now-modal-header {
    position: relative;
    padding: 10px 0;
}

.buy-now-modal-header h3 {
    margin: 0;
    text-align: center;
    font-size: 29px;
}

.buy-now-close {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: var(--bg-secondary);
}

.payment-options {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.option-card,
.option-bitcoin {
    width: 220px;
    height: 220px;
    border: 1px solid #00a650;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.option-card:hover {
    border: 2px solid #00a650;
}

.option-bitcoin:hover {
    border: 2px solid #00a650;
}

.option-card i {
    font-size: 102px;
    color: #00a650;
    transform: rotate(-15deg);
}

.option-card i:hover {
    transform: rotate(0deg);
}

.option-bitcoin i {
    font-size: 102px;
    color: #00a650;
    transform: rotate(-30deg);
}

.option-bitcoin i:hover {
    transform: rotate(-15deg);
}

.option-card:hover p,
.option-bitcoin:hover p {
    transform: translateY(-10px);
}

.option-card p,
.option-bitcoin p {
    font-size: 25px;
    color: #00a650;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.footer {
    background-color: var(--navbar-primary);
    padding: 20px;
    text-align: center;
    /* Center the content */
    position: relative;
    bottom: 0;
    margin-top: 50px;
    border-top: 1px solid var(--gray);
}

.footer__logo {
    max-width: 150px;
    display: block;
    margin: 0 auto;
    /* Center the logo */
}

.footer__copyright {
    margin-top: 10px;
    color: var(--text-primary);
}

/* Media Queries for Responsive Design */

/* Mobile Devices */
@media (max-width: 599px) {
    .modal-content {
        width: 90%;
        padding: 10px;
    }

    .modal-columns {
        flex-direction: column;
    }

    .modal-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .webcam-preview {
        width: 100%;
        height: 20%;
    }

    .stream-title-input,
    .stream-textarea,
    .stream-price-input,
    select {
        width: 100%;
    }

    .tags {
        gap: 5px;
        width: 80%;
    }

    .overlay {
        width: 100%;
    }

    .overlay-content {
        width: 100%;
        max-width: 250px;
        padding: 25px 50px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .header__menu {
        width: 100%;
    }

    .header__logo {
        margin-right: auto;
    }

    .header__nav-container {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        margin-top: 10px;
        gap: 20px;
    }

    .header__nav-item--stream,
    .header__nav-item--token-container {
        border: none;
        padding: 0;
    }

    /* .header__nav-item--tokens{
        color: var(--bg-secondary);
        background-color: transparent;
        padding: 0;
        border: none;
    } */

    .header__nav-item {
        padding: 0;
    }


    .header__nav-list {
        flex-direction: column;
        gap: 10px;
        display: none;
    }

    .header__nav-container.active .header__nav-list {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }

    .search-bar {
        width: 90%;
    }

    .tag,
    .card__price {
        font-size: 14px;
    }

    .card__title {
        font-size: 16px;
    }

    .section-header__main,
    .section-header__sub {
        font-size: 18px;
    }

    .card-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card {
        width: 100%;
        max-width: 350px;
    }

    .card__artist {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .swiper-container {
        height: 200px;
        /* Adjust the height for mobile screens */
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 50%;
        transform: translateY(-50%);
    }
}

/* Tablets */
@media (min-width: 600px) and (max-width: 899px) {

    .modal-content {
        width: 80%;
        padding: 20px;
    }

    .modal-columns {
        flex-direction: column;
    }

    .modal-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .webcam-preview {
        width: 100%;
        height: auto;
    }

    .stream-title-input,
    .stream-textarea,
    .stream-price-input,
    select {
        width: 100%;
    }

    .swiper-container {
        height: 250px;
        /* Adjust the height for tablet screens */
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 50%;
        transform: translateY(-50%);
    }

    .header {
        padding: 10px;
    }

    .search-bar {
        width: 80%;
    }

    .card-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card {
        width: 100%;
        max-width: 350px;
    }
}

/* Small Desktops */
@media (min-width: 900px) and (max-width: 1199px) {
    .header {
        padding: 10px 20px;
    }

    .search-bar {
        width: 80%;
    }

    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Large Desktops */
@media (min-width: 1200px) {
    .header {
        padding: 10px 20px;
    }

    .search-bar {
        width: 80%;
    }

    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Stream stylesheet */

.video-player {
    margin-bottom: 20px;
    width: 100%;
}

.video-player video {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.main {
    display: flex;
}

.content-container {
    display: flex;
    width: 100%;
    gap: 0;
}

.profile-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    /* gap: 20px; */
}

.profile {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
}

.profile-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    border: 3px solid var(--bg-secondary);
}

.profile-info {
    flex: 1;
}

.profile-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    margin: 5px 5px;
}

.profile-bio {
    margin: 5px 5px;
    font-size: 18px;
    color: #666;
}

.profile-tags {
    display: flex;
    gap: 10px;
    margin: 5px 5px;
}

.tag {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
}

.buttons {
    flex: 1;
    display: flex;
    gap: 10px;
    margin-left: 300px;
    /* justify-content: space-between; */
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 5px;
    font-size: 18px;
}

.follow-btn {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.subscribe-btn {
    background-color: transparent;
    color: var(--bg-secondary);
    border: 2px solid var(--bg-secondary);
}

.donate-btn {
    background-color: transparent;
    color: var(--bg-secondary);
    border: 2px solid var(--bg-secondary);
}

.streamer-description {
    margin: 15px 15px;
}

.main-content {
    flex: 3;
    margin-right: 0;
}

.sidebar-chat {
    flex: 1;
    background-color: var(--bg-tertiary);
    padding: 20px 0;
}

.sidebar-chat h3 {
    margin-top: 0;
    text-align: center;
    color: var(--bg-secondary);
}

.chat-messages {
    height: 650px;
    overflow-y: auto;
    margin-bottom: 10px;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
}

.chat-input {
    display: flex;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.chat-header {
    background-color: transparent;
    color: var(--bg-secondary);
    text-align: center;
    border-bottom: 1px solid var(--bg-secondary)
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    padding: 10px;
}

.chat-input input {
    flex: 1;
    padding: 15px;
    border: 1px solid var(--bg-secondary);
    border-radius: 10px;
    background-color: transparent;
}


.chat-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.chat-settings .send-btn {
    padding: 10px 25px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--bg-secondary);
    color: var(--text-secondary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.chat-credits .tip-btn {
    padding: 10px;
    color: var(--bg-secondary);
    border: 1px solid var(--bg-secondary);
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.chat-settings,
.chat-credits {
    display: flex;
    align-items: center;
    gap: 5px;
}

.chat-credits p {
    color: var(--bg-secondary);
    margin: 0;
}

.chat-settings .fa-cog {
    cursor: pointer;
    font-size: 20px;
    color: var(--text-primary);
}



/* Media Queries for Responsive Design */

/* Mobile Devices */
@media (max-width: 600px) {

    .header {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

    .header__menu {
        width: 100%;
    }

    .header__logo {
        margin-right: auto;
    }

    .header__nav-container {
        flex-direction: column;
        align-items: flex-end;
        margin-left: 0;
    }

    .header__nav-list {
        flex-direction: column;
        gap: 10px;
        display: none;
    }

    .header__nav-container.active .header__nav-list {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }

    .content-container {
        flex-direction: column;
    }

    .profile-buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 0;
        margin-top: 10px;
        margin-left: 0;

    }

    .profile-name {
        font-size: 18px;
    }

    .tag {
        font-size: 10px;
        padding: 5px;
    }

    .btn {
        flex: 1;
        margin: 5px;
        font-size: 14px;
        padding: 10px;
    }

    .profile-bio {
        font-size: 12px;
    }

    .profile-icon {
        margin-left: 5px;
        width: 80px;
        height: 80px;
    }

    .streamer-description {
        font-size: 14px;
    }

    .main-content,
    .sidebar-chat {
        width: 100%;
    }

    .chat-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        order: 1;
        width: 100%;
        /* Ensure chat container takes full width */
        padding: 10px;
        /* Add padding for better spacing */
    }

    .chat-input input {
        width: 100%;
    }

    .chat-messages {
        height: 300px;
    }

    .chat-credits,
    .chat-settings {
        width: 100%;
        justify-content: space-evenly;
    }

    .chat-header {
        display: none;
    }

    .chat-credits p {
        text-align: center;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        padding: 10px;
        flex-direction: row;
        align-items: center;
    }

    .header__menu {
        width: auto;
    }

    .header__logo {
        margin-right: auto;
    }

    .header__nav-container {
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
    }

    .header__nav-list {
        flex-direction: row;
        gap: 10px;
        display: flex;
    }

    .hamburger-menu {
        display: none;
    }

    .profile-buttons {
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    .content-container {
        flex-direction: column;
    }

    .main-content,
    .sidebar-chat {
        width: 100%;
    }

    .buttons {
        width: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        margin-left: 10px;
    }

    .btn {
        flex: none;
        margin: 0;
        font-size: 13px;
        padding: 10px 20px;
    }

    .profile-name {
        font-size: 20px;
    }

    .profile-bio {
        font-size: 14px;
    }

    .profile-icon {
        width: 80px;
        height: 80px;
    }

    .streamer-description {
        font-size: 16px;
    }

    .chat-messages {
        height: 300px;
    }

    .chat-header {
        display: block;
    }

    .chat-credits p {
        text-align: center;
    }
}

/* Desktops */
@media (min-width: 1025px) {
    .header {
        padding: 10px 20px;
    }

}

/* Base styles for larger screens */
.artist-info {
    display: flex;
    align-items: center;
}

.artist-info__icon {
    margin-right: 20px;
}

.artist-info__details {
    flex: 1;
}